@using LuminaryVisuals.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime



@* Main Top Bar *@
<MudAppBar Elevation="2" Dense="true">

    <MudTooltip Text="Expand Sidebar">
    <MudIconButton Class="" Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"  />
    </MudTooltip>
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudImage Src="@logoSrc" Alt="Logo" Height="30" Class="fit-image mb-2" />
        <MudText Typo="Typo.h5" Color="Color.Primary" Class="ml-2">Luminary Visuals</MudText>
     </MudHidden>

     <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudImage Src="@logoSrc" Alt="Logo" Height="25" Class="fit-image mb-1" />
        <MudText Typo="Typo.h6" Color="Color.Primary" Class="ml-2">Luminary Visuals</MudText>
    </MudHidden>
    <MudSpacer />
    <MudTooltip Text="Change Theme">
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
    <MudButton Color="Color.Primary" OnClick="ToggleTheme">
        <MudIcon Icon="@ColorThemeIcon" />
    </MudButton>
    </MudTooltip>

</MudAppBar>


<MudDrawer Class="" @bind-Open="_drawerOpen" Fixed="true" Variant="DrawerVariant.Mini" ClipMode="DrawerClipMode.Always" Elevation="0" OpenMiniOnHover="true" >
    @*Side Bar*@
        <MudNavMenu Class="mud-width-full ">
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" IconColor="Color.Primary">Home</MudNavLink>
        <MudNavLink Href="auth" Icon="@Icons.Material.Filled.Security" IconColor="Color.Primary">Auth Required</MudNavLink>
            <MudNavLink Href="admin-dashboard" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Primary">Admin Dashboard</MudNavLink>
                <AuthorizeView>
                    <Authorized>
                <MudDivider />

                        <MudNavGroup Title="Settings" Icon="fas fa-cogs" IconColor="Color.Primary" Expanded="false">
                            <MudNavLink Href="Account/Manage" Icon="@Icons.Material.Filled.People" IconColor="Color.Primary">Users</MudNavLink>
                        </MudNavGroup>
                    <MudNavLink Class="" OnClick="@LogoutClick" Icon="@Icons.Material.Filled.ExitToApp" IconColor="Color.Primary">
                        Logout
                    </MudNavLink>
                    <form id="logoutForm" action="Account/Logout" method="post" style="display:none;">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    </form>
                    </Authorized>
                    <NotAuthorized>
                <MudDivider />

                        <MudNavLink Href="Account/Register" Icon="@Icons.Material.Filled.PersonAdd" IconColor="Color.Primary">Register</MudNavLink>
                        <MudNavLink Href="Account/Login" Icon="@Icons.Material.Filled.Login" IconColor="Color.Primary">Login</MudNavLink>
                    </NotAuthorized>
                </AuthorizeView>
        </MudNavMenu>
</MudDrawer>


@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    MudTheme _theme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.BlueGray.Darken3,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.Blue.Accent1,
                DrawerBackground = Colors.Blue.Accent1, 
                DrawerText = Colors.Shades.Black,

            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Darken3,
            },

            Typography = new Typography()
            {
                Default = new Default()
                {
                    FontFamily = new[] {"Inter", "sans-serif" },
                    FontWeight = 400  
                },
            },
            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "175px",
            }
        };

    private bool _isDarkMode;
    private string logoSrc => _isDarkMode ? "/Logo.png" : "/LogoDark.png";
    private string ColorThemeIcon => _isDarkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode;
    private string? currentUrl;

    private void ToggleTheme()
    {
        _isDarkMode = !_isDarkMode;

    }
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }
    private async Task LogoutClick()
    {
        await JSRuntime.InvokeVoidAsync("submitForm", "logoutForm");
    }
}

