@using System.Diagnostics
@inject ProjectService ProjectService
@inject ChatService ChatService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject ProjectState ProjectState


<MudContainer Class="chat-container" Gutters=false>
    <MudPaper Elevation="0" Class="chat-panel" style="border:0px;">
        <MudPaper Elevation="3" Class="chat-header" Outlined="false">
            <MudText Typo="Typo.h5" Class="projects-title mt-1">
                Your Messages
            </MudText>

            <MudAutocomplete T="string" Label="Search projects" @bind-Value="searchText"
            SearchFunc="@SearchProjects" ResetValueOnEmptyText="true" AdornmentIcon="@Icons.Material.Filled.Search"
            AdornmentColor="Color.Tertiary" Class="mx-4 mb-3"  CoerceText="false" CoerceValue="true" Clearable=true />

            <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Info" OnClick="CloseChat" />

        </MudPaper>

        @if (FilteredProjects().Any())
        {


            @if(!isAdminView)
            {
            <MudList T="Project" Class="projects-list pt-8 pl-md-3  pt-md-3" Padding=true Gutters=true>
                    @foreach (var project in GetPaginatedProjects())
                    {
                        var classText = "project-item" + ( project.MessageRequireApprovalCount > 0 && isEditorView  ? " unapproved-message" : "" )
                        + (project.ProjectId < 0 ? " private-border" : "");
                        <div class="project-container">
                            <MudBadge Style="width:100%;" Color="Color.Secondary" Visible="project.countUnreadMessages > 0 ? true : false" Content="@project.countUnreadMessages" Class="unread-badge" Origin="Origin.CenterRight" Bordered=true Overlap="true">

                                <MudBadge Style="width:100%;" Icon="@(project.IsPinned ? @Icons.Material.Outlined.PushPin : @Icons.Material.Filled.PushPin)" Origin="Origin.CenterLeft" BadgeClass="@(project.IsPinned ? "pinned-badge" : "")" Bordered=true Color="@(project.IsPinned ? Color.Error:Color.Info)" OnClick="() => PinChat(project)" >

                                    <MudListItem @key="project.ProjectId" Class="@classText" OnClick="() => OpenProjectChat(project)" Ripple="false">

                                        <div class="project-content">

                                            <MudText style="max-width:90%;" Typo="Typo.body1">@(isAdminView || isEditorView ? $"{project.Client.UserName} | {project.ProjectName}" : project.ProjectName)</MudText>
                                            <MudText Typo="Typo.caption" Class="message-timestamp">
                                                @ConvertLocal.ConvertToLocalTime(project?.LastSentMessage, timezoneOffsetMinutes)
                                            </MudText>
                                        </div>
                                    </MudListItem>
                                </MudBadge>
                            </MudBadge>
                        </div>
                    }
                    @if (GetPageCount() > 1)
                    {
                        <MudSpacer />
                        <MudPagination Class="d-flex justify-center mb-5" ShowFirstButton="true" ShowLastButton="true" Rectangular=true
                        Count="@GetPageCount()" SelectedChanged="PublicPageChanged" />
                    }

                </MudList>
            }
            else
            {
                <MudTabs Outlined="true" Centered="true" Color="Color.Dark" PanelClass="flex-column" Rounded="true" Elevation="2" SliderAnimation="true"
                Ripple="true">
                    <MudTabPanel Text="Projects Chats" Icon="@Icons.Material.Filled.Group" Style="min-width:200px !important;"
                    BadgeData="@(GetTotalUnreadMessages(false) > 0 ? GetTotalUnreadMessages(false).ToString() : null)"
                    BadgeColor="Color.Error" >
                        <MudList T="Project" Class="projects-list" Padding=true Gutters=true>
                            @foreach (var project in GetPaginatedProjectsForAdmins(false))
                            {
                                <ProjectListItem Project="project" 
                                IsAdminView="isAdminView" 
                                IsEditorView="isEditorView" 
                                OnPinChat="PinChat" 
                                OnOpenChat="OpenProjectChat" />
                            }
                            @if (GetPageCount(false) > 1)
                            {
                                <MudSpacer />
                                <MudPagination Class="d-flex justify-center mb-5" 
                                ShowFirstButton="true" 
                                ShowLastButton="true" 
                                Rectangular=true
                                Count="@GetPageCount(false)" 
                                SelectedChanged="PublicPageChanged" />
                            }
                        </MudList>
                    </MudTabPanel>

                    <MudTabPanel Icon="@Icons.Material.Filled.PersonAddAlt1" Text="Direct Chats" Style="min-width:200px !important;"
                    BadgeData="@(GetTotalUnreadMessages(true) > 0 ? GetTotalUnreadMessages(true).ToString() : null)"
                    BadgeColor="Color.Error" >
                        <MudList T="Project" Class="projects-list" Padding=true Gutters=true>
                            @foreach (var project in GetPaginatedProjectsForAdmins(true))
                            {
                                <ProjectListItem Project="project" 
                                IsAdminView="isAdminView" 
                                IsEditorView="isEditorView" 
                                timezoneOffsetMinutes="timezoneOffsetMinutes"
                                OnPinChat="PinChat" 
                                OnOpenChat="OpenProjectChat" />
                            }
                            @if (GetPageCount(true) > 1)
                            {
                                <MudSpacer />
                                <MudPagination Class="d-flex justify-center mb-5" 
                                ShowFirstButton="true" 
                                ShowLastButton="true" 
                                Rectangular=true
                                Count="@GetPageCount(true)" 
                                SelectedChanged="PrivatePageChanged" />
                            }
                        </MudList>
                    </MudTabPanel>
                </MudTabs>

            }
        }
        else if(!finishLoading)
        {
            <div class="d-flex align-center align-content-center justify-center ">
                <MudText Typo="Typo.h5" Color="Color.Default" Class="ma-5">Currently Loading Your Chats. Please wait for few seconds.</MudText>
                <MudProgressCircular Color="Color.Info" Indeterminate="true" />
            </div>
        }
        else
        {
            <MudAlert Severity="Severity.Normal" Class="no-projects-alert mx-3">Sorry, You've no projects found.</MudAlert>
        }
    </MudPaper>
</MudContainer>


@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }
    [Parameter] public string userId { get; set; }
    [Parameter] public bool isAdminView { get; set; }
    [Parameter] public bool isEditorView { get; set; }
    [Parameter] public bool isClientView { get; set; }
    [Parameter] public Project SelectedProject { get; set; }
    private int pageSize = 10;
    private int publicCurrentPage = 1;
    private int privateCurrentPage = 1;
    private List<Project?> projects = new List<Project?>(); 
    private string MessageRequireApproval = "";
    private bool finishLoading;
    [Inject] IJSRuntime JS { get; set; }
    private int timezoneOffsetMinutes { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            timezoneOffsetMinutes = await JS.InvokeAsync<int>("getTimezoneOffset");
            TimeSpan timeSpan = TimeSpan.FromMinutes(timezoneOffsetMinutes);

            ProjectState.OnChange += StateHasChanged;
            projects = await ProjectService.GetProjectsForChat(false, userId, isAdminView, isEditorView, isClientView);
            List<int> projectIds = projects.Select(p => p.ProjectId).ToList();
            if (projects.Count > 0)
            {
                var messageDataByProject = await ChatService.GetUnreadMessageDataForProjectsAsync(projectIds, userId);
                foreach (var project in projects)
                {
                    if (messageDataByProject.TryGetValue(project.ProjectId, out var data))
                    {
                        // 'data' is the Tuple<int, DateTime?, int> for this project
                        project.countUnreadMessages = data.Item1;
                        project.LastSentMessage = data.Item2.HasValue ? data.Item2.Value : null;
                        project.MessageRequireApprovalCount = data.Item3;
                    }
                    else
                    {
                        // Handle case where no data was found for this project
                        project.countUnreadMessages = 0;
                        project.LastSentMessage = null;
                        project.MessageRequireApprovalCount = 0;
                    }
                }
                projects = projects
                    .OrderByDescending(p => p.IsPinned)
                    .ThenByDescending(p => p.countUnreadMessages) // sort by unread messages
                    .ThenByDescending(p => p.LastSentMessage) // then by last message sent
                    .ToList();
            }
        }
        catch (Exception ex)
        {
            projects = new List<Project>();  // Ensures projects are never null
        }
        finally
        {
            finishLoading = true;
            StateHasChanged();
        }
    }

    private string searchText = "";
    private async Task<IEnumerable<string>> SearchProjects(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value))
            return new string[] { };
        return projects
        .Select(p => isClientView ? p.ProjectName  : $"{p.Client.UserName} | {p.ProjectName}")
        .Distinct()
        .Where(text => text.Contains(value.Trim(), StringComparison.OrdinalIgnoreCase))
        .ToArray();
    }
    private IEnumerable<Project?> FilteredProjects()
    {
        if (string.IsNullOrEmpty(searchText))
            return projects;

        if (searchText.Contains("|") && !isClientView)
        {
            // match starts with "Client.UserName | ProjectName" format
            var parts = searchText.Split("|").Select(s => s.Trim()).ToList();
            if (parts.Count == 2)
            {
                return projects.Where(p =>
                    p.Client.UserName.StartsWith(parts[0], StringComparison.OrdinalIgnoreCase) &&
                    p.ProjectName.StartsWith(parts[1], StringComparison.OrdinalIgnoreCase)
                );
            }
        }

        // Single term search - match either client name or project name
        return projects.Where(p =>
            isClientView ? p.ProjectName.StartsWith(searchText, StringComparison.OrdinalIgnoreCase) :
            p.Client.UserName.StartsWith(searchText, StringComparison.OrdinalIgnoreCase) ||
            p.ProjectName.StartsWith(searchText, StringComparison.OrdinalIgnoreCase)
        );
    }
    private IEnumerable<Project?> GetPaginatedProjects()
    {
        var filtered = FilteredProjects()
            .ToList();

        return filtered
            .Skip(( publicCurrentPage - 1 ) * pageSize)
            .Take(pageSize);
    }
    private int GetTotalUnreadMessages(bool isPrivate)
    {
        return FilteredProjects()
            .Where(p => isPrivate ? p.ProjectId < 0 : p.ProjectId > 0)
            .Sum(p => p.countUnreadMessages);
    }
    private IEnumerable<Project?> GetPaginatedProjectsForAdmins(bool isPrivate = false)
    {
        var filtered = FilteredProjects()
            .Where(p => isPrivate ? p.ProjectId < 0 : p.ProjectId > 0)
            .ToList();

        return filtered
            .Skip(( (isPrivate == false ? publicCurrentPage : privateCurrentPage ) - 1 ) * pageSize)
            .Take(pageSize);
    }
    private int GetPageCount(bool isPrivate = false)
    {
        var count = FilteredProjects()
            .Count(p => isPrivate ? p.ProjectId < 0 : p.ProjectId > 0);
        return (int) Math.Ceiling(count / (double) pageSize);
    }

    private void PublicPageChanged(int page)
    {
        publicCurrentPage = page;
        StateHasChanged();
    }

    private void PrivatePageChanged(int page)
    {
        privateCurrentPage = page;
        StateHasChanged();
    }
    private async void OpenProjectChat(Project Project)
    {
        ProjectState.SetProject(Project);
        StateHasChanged();
        MudDialog.Close();

    }
    private async void PinChat(Project Project)
    {
        Project.IsPinned = !Project.IsPinned;
        await ProjectService.TogglePinAsync(userId, Project.ProjectId,Project.ClientId, Project.IsPinned);
        projects = projects
        .OrderByDescending(p => p.IsPinned)
        .ThenByDescending(p => p.countUnreadMessages) // Sort by unread messages
        .ThenByDescending(p => p.LastSentMessage) // Then by last message sent
        .ToList();
        StateHasChanged();

    }
     private async Task CloseChat()
    {
        MudDialog.Close();
    }



}


<style>
    .mud-dialog-width-md
    {
        padding: 0% !important;
    }
    .chat-container{
        width: 100% !important;
    }
    .mud-badge.mud-badge-icon .mud-icon-badge
    {
        font-size: 16px !important;
    }

    .mud-badge.mud-badge-icon
    {
        width: 30px !important;
        height: 30px !important;
    }
    @@media (max-width: 960px){
        .mud-dialog-container.mud-dialog-bottomright .mud-dialog
        {
            position: absolute !important;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            width: 100vw !important;
        }
    }

    .mud-dialog-container.mud-dialog-bottomright .mud-dialog
    {
        height: 100vh;
        max-height: 100vh;
        width: 45vw;
        bottom:0px;
        right:0px;
    }
</style>