@* ColumnVisibilityDialog.razor *@
<MudDialog>
    <DialogContent>
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
            <MudTextField @bind-Value="_presetName"
            Validation="@(new Func<string, IEnumerable<string>>(ValidatePresetName))"
            Variant="Variant.Outlined"
            Label="Preset Name"
            Required="true"
            RequiredError="Preset name is required"
            Class="mb-4" />
        </MudForm>
        <MudList T="bool" Dense="true" ReadOnly=true Style="background:#0d0e19 !important;">
            @foreach (var column in Columns)
            {
                    <div class="d-flex align-center my-1">
                        <MudText Class="mr-4 d-flex flex-grow-1" Typo=Typo.body1 Color="Color.Surface">@column.DisplayName</MudText>
                    <MudSwitch @bind-Value="@VisibilityState[column.Name]" Label="@(VisibilityState[column.Name] ? "Visible" : "Hidden")" LabelPosition=LabelPosition.End Color="Color.Info" />
                    </div>
            }
        </MudList>
    </DialogContent>
    <DialogActions>
        <MudButton Color=Color.Error OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Success" 
        OnClick="SavePreset" >  
            Save Preset
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }
    [Parameter] public List<ColumnDefinition> Columns { get; set; }
    [Parameter] public Dictionary<string, bool> VisibilityState { get; set; }
    [Parameter] public List<ColumnPreset> _columnPresets { get; set; }
    private string _presetName;
    private MudForm form;
    bool success;
    string[] errors = { };
    private IEnumerable<string> ValidatePresetName(string value)
    {
        if (string.IsNullOrWhiteSpace(value))
            yield return "Name can't be empty!";

        if (_columnPresets.FirstOrDefault(preset => preset.Name == value) != null)
            yield return "Name is already used! The name must be unique.";

    }
    private void SavePreset()
    {
        form.Validate();
        if (!form.IsValid)
            return;
        var result = new ColumnPreferenceResult
        {
            PresetName = _presetName,
            Visibility = new Dictionary<string, bool>(VisibilityState)
        };
        MudDialog.Close(DialogResult.Ok(result));
    }

    private void Cancel() => MudDialog.Cancel();
}
<style>
    .mud-primary-text{
        color: white;
    }
</style>