<MudDialog>
    <DialogContent>
        <MudHtmlEditor Html="@Text" HtmlChanged="OnNoteTextChanged">
                                <div style="display: flex; align-items: center; gap: 8px; flex:auto;">
                            <MudButton Style="display: inline-flex; width: 150px;" OnClick="OnExpandCollapseClick">@(_expanded ? "Collapse" : "Expand")</MudButton>
                            <MudCollapse Expanded="_expanded" Style="display: flex;flex-direction: row; flex-wrap: wrap; flex:auto;">

            <select class="ql-font">
                <option value="sans-serif"></option>
                <option value="serif"></option>
                <option value="monospace"></option>
            </select>
            <select class="ql-size">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
            <MudHtmlToolbarOptions />
            <button class="ql-list" value="check"></button>
            <button class="ql-clean">Remove Formatting</button>    <!-- Removes formatting -->
                </MudCollapse>
            </div>

        </MudHtmlEditor>

    </DialogContent>
    <DialogActions>
        <MudButton  OnClick="@Cancel" Color="Color.Error" Variant="Variant.Filled" Size="Size.Large">Close</MudButton>
        <MudButton Disabled="@isDelayed" OnClick="@Save" Color="Color.Info" Variant="Variant.Filled" Size="Size.Large">Save</MudButton>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public EventCallback<string> NoteTextChanged { get; set; }
    private bool success;
    private MudForm form;
    private DateTime _minDate = DateTime.Now.Date;
    private bool isDelayed = true;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        isDelayed = false;
        StateHasChanged();
    }
    private void OnNoteTextChanged(string text)
    {
        Text = text;
        NoteTextChanged.InvokeAsync(text);
    }
    private void Save()
    {
        MudDialog.Close(DialogResult.Ok(Text));
    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
    bool _expanded = true;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }
}