@using MudBlazor
@inject ISnackbar Snackbar
<MudDialog>
    <DialogContent> 
    <MudGrid Spacing="1">
       <MudItem xs="12" sm="12">
            <MudTextField Class="mb-5" Label="Project Name" ReadOnly="!isAdmin" Variant="Variant.Outlined" @bind-Value="context.ProjectName"></MudTextField>
            </MudItem>
            <MudItem xs="12" sm="12">

            <MudTextField T="string"
                          Label="Footage Link" Placeholder="Add link of your footage" AutoGrow="true"
                          Variant="Variant.Outlined" @bind-Value="context.FootageLink" />
       </MudItem>
        <MudItem xs="12" sm="6">
                <MudTextField T="string"
                              Label="Add Details of Resolution" Placeholder="Add Details of Footage Resolution"
                              Variant="Variant.Outlined" @bind-Value="context.ProjectSpecifications.Resolution"/>
        </MudItem>

        <MudItem xs="12" sm="6">
        <MudTextField T="string"
                      Label="Add Details of Footage size"
                      Placeholder="Add Details of Footage size"
                      Variant="Variant.Outlined"
                      @bind-Value="context.ProjectSpecifications.Size"
                      />
        </MudItem>

        <MudItem xs="12" sm="6">
        <MudTextField T="string"
                      Label="Add Details of Footage Number of Cameras"
                      Placeholder="Add Details of Number of cameras"
                      Variant="Variant.Outlined"
                      @bind-Value="context.ProjectSpecifications.CameraNumber"
                       />
        </MudItem>

        <MudItem xs="12" sm="6">
        <MudTextField T="string"
                      Label="Add Details of Color profile"
                      Placeholder="Add Details of Color profile for each camera"
                      Variant="Variant.Outlined"
                      @bind-Value="context.ProjectSpecifications.ColorProfile"
                      />
        </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField T="string"
                              Label="Add Audio Details"
                              Placeholder="Add Details about Audio recorders"
                              Variant="Variant.Outlined"
                              @bind-Value="context.ProjectSpecifications.AudioDetails" />
            </MudItem>
            <MudItem xs="12" sm="12" Class="mb-3  flex-column">
                <MudText Typo="Typo.body1" Class="mb-2">Deliverables:</MudText>
                    <MudHtmlEditor Outlined="true"
                                   Text="Deliverables"
                                   Html="@context.Deliverables"
                                   HtmlChanged="OnDeliverableTextChanged"
                                   Resizable="true"
                                   style="min-height:50px;"
                                   Placeholder="Please write down what the deliverables for this project will be">
                        <div style="display: flex; align-items: center; gap: 8px; flex:auto;">
                            <MudButton Style="display: inline-flex; width: 150px;" OnClick="OnExpandCollapseClick">@(_expanded ? "Collapse" : "Expand")</MudButton>
                            <MudCollapse Expanded="_expanded" Style="display: flex;flex-direction: row; flex-wrap: wrap; flex:auto;">

                                <select class="ql-font">
                                    <option value="sans-serif"></option>
                                    <option value="serif"></option>
                                    <option value="monospace"></option>
                                </select>
                                <select class="ql-size">
                                    <option value="small"></option>
                                    <option selected></option>
                                    <option value="large"></option>
                                    <option value="huge"></option>
                                </select>
                                <MudHtmlToolbarOptions />
                                <button class="ql-list" value="check"></button>
                                <button class="ql-clean">Remove Formatting</button>
                            </MudCollapse>
                        </div>

                    </MudHtmlEditor>
        </MudItem>

            <MudItem xs="12" sm="12" Class="mt-5  flex-column">
                <MudText Class="my-2">
                    Brief Of The Day and Technical Issues Notes
                    <MudHtmlEditor Html="@context.Description"  HtmlChanged="OnNoteTextChanged" style="height:200px;"
                    Placeholder="Example: This wedding was shot on Oahu, at Ko'olau Ballrooms.
This is the Bride's second marriage, and they're a little older than the usual bride and grooms we have.
This is a Hawaiian Wedding, so segments will have prayers in Hawaiian language, but the rest is in English. The Ceremony is in English, the speeches are in English.
The Bride was married like I said before, so this wedding was quite special because she didn't think she'd ever get married again until she met Keola.">
                    <div style="display: flex; align-items: center; gap: 8px; flex:auto;">
                            <MudButton Style="display: inline-flex; width: 150px;" OnClick="OnExpandCollapseClick">@(_expanded ? "Collapse" : "Expand")</MudButton>
                            <MudCollapse Expanded="_expanded" Style="display: flex;flex-direction: row; flex-wrap: wrap; flex:auto;">
                    <select class="ql-font">
                        <option value="sans-serif"></option>
                        <option value="serif"></option>
                        <option value="monospace"></option>
                    </select>
                    <select class="ql-size">
                        <option value="small"></option>
                        <option selected></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                    <MudHtmlToolbarOptions />
                    <button class="ql-list" value="check"></button>
                    <button class="ql-clean">Remove Formatting</button>
                    </MudCollapse>
                    </div>
                </MudHtmlEditor>

            </MudText>
        </MudItem>

            <MudItem xs="12" sm="12" Class="mb-3  flex-column">
                    <MudText Typo="Typo.body1" Class="mb-2">Music Preferences:</MudText>
                        <MudHtmlEditor Outlined="true"
                                       Text="Music Preferences"
                                       Html="@context.MusicPreference"
                                   HtmlChanged="OnMusicTextChanged"
                                       Resizable="true"
                                       style="min-height:50px;"
                                       Placeholder="Place link to music here and any comments">
                        <div style="display: flex; align-items: center; gap: 8px; flex:auto;">
                            <MudButton Style="display: inline-flex; width: 150px;" OnClick="OnExpandCollapseClick">@(_expanded ? "Collapse" : "Expand")</MudButton>
                            <MudCollapse Expanded="_expanded" Style="display: flex;flex-direction: row; flex-wrap: wrap; flex:auto;">
                                <select class="ql-font">
                                    <option value="sans-serif"></option>
                                    <option value="serif"></option>
                                    <option value="monospace"></option>
                                </select>
                                <select class="ql-size">
                                    <option value="small"></option>
                                    <option selected></option>
                                    <option value="large"></option>
                                    <option value="huge"></option>
                                </select>
                                <MudHtmlToolbarOptions />
                                <button class="ql-list" value="check"></button>
                                <button class="ql-clean">Remove Formatting</button>
                            </MudCollapse>
                        </div>

                        </MudHtmlEditor>
                </MudItem>

            <MudItem xs="12" sm="12">
            <MudText Typo=Typo.body1  Class="mt-5 " >Revisions:

                    @if (context.Revisions != null)
                    {
                        @foreach (var revision in context.Revisions)
                        {
                    <MudExpansionPanel Text="@($"Revision Date: {revision.RevisionDate:MM-dd-yyyy}")">
                        <MudHtmlEditor style="margin-top:10px;" Html="@revision.Content" HtmlChanged="@(text => OnNoteTextChangedForRevision(revision,text))">
                                    <div style="display: flex; align-items: center; gap: 8px; flex:auto;">
                                        <MudButton Style="display: inline-flex; width: 150px;" OnClick="OnExpandCollapseClick">@(_expanded ? "Collapse" : "Expand")</MudButton>
                                        <MudCollapse Expanded="_expanded" Style="display: flex;flex-direction: row; flex-wrap: wrap; flex:auto;">
                                            <select class="ql-font">
                                                <option value="sans-serif"></option>
                                                <option value="serif"></option>
                                                <option value="monospace"></option>
                                            </select>
                                            <select class="ql-size">
                                                <option value="small"></option>
                                                <option selected></option>
                                                <option value="large"></option>
                                                <option value="huge"></option>
                                            </select>
                                            <MudHtmlToolbarOptions />
                                            <button class="ql-list" value="check"></button>
                                            <button class="ql-clean">Remove Formatting</button>
                                        </MudCollapse>
                                    </div>
                        </MudHtmlEditor>
                    </MudExpansionPanel>

                        }
                    }


            <!-- Button to add a new revision -->
            <MudButton Class="mt-5" Color="Color.Success" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="AddRevision">Add New Revision</MudButton>

        </MudText>
            </MudItem>
            </MudGrid>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="@Cancel" Color="Color.Error" Variant="Variant.Filled" Size="Size.Large">Close</MudButton>
        <MudButton OnClick="@Save" Color="Color.Info" Variant="Variant.Filled" Size="Size.Large">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance Dialog { get; set; }

    [Parameter] public Project context { get; set; }
    [Parameter] public string currentRole { get; set; }
    [Parameter] public EventCallback<Project> modifiedProject { get; set; }
    private string projectTitle;
    bool isAdmin = false;
    bool _expanded = true;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }
    protected override void OnInitialized()
    {
        isAdmin = currentRole == "Admin";
        projectTitle = context.ProjectName;
    }
    private void AddRevision()
    {
        var newRevision = new Revision
            {
                RevisionDate = DateTime.UtcNow, // Set current date by default
                Content = string.Empty // Empty content initially
            };
        context.Revisions.Add(newRevision);
    }
    private void OnNoteTextChanged(string text)
    {
        context.Description = text;
    }
    private void OnNoteTextChangedForMusicPreference(string text)
    {
        context.MusicPreference = text;
    }
    private void OnNoteTextChangedForRevision(Revision revision,string text)
    {
        revision.Content = text;
        var existingRevision = context.Revisions.FirstOrDefault(r => r.RevisionId == revision.RevisionId);
        if(existingRevision != null)
            existingRevision.Content = text;
        else
        {
            context.Revisions.Add(revision);
        }
    }
    private void OnDeliverableTextChanged(string text)
    {
        context.Deliverables = text;
    }
    private void OnMusicTextChanged(string text)
    {
        context.MusicPreference = text;
    }
    private async Task Save()
    {
        if (!isAdmin && projectTitle != context.ProjectName)
        {
            Snackbar.Add("You are not authorized to save changes.", Severity.Error);
            return;
        }
        // Remove revisions with empty content
        context.Revisions = context.Revisions.Where(r => !string.IsNullOrWhiteSpace(r.Content)).ToList();

        await modifiedProject.InvokeAsync(context); // Pass the modified project back
        Snackbar.Add($"Successfully saved the note.", Severity.Info);
        Dialog.Close(DialogResult.Ok(context));
    }

    private void Cancel()
    {
        Dialog.Close(DialogResult.Cancel());
    }
}
